@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-black: #000;
  --color-l-black: #0F0F0F;
  --color-white: #FFF;
  --color-d-gray: #4D4D4D;
  --color-gray: #999999;
  --color-pink: #FF3CAC;
  --font-alexandria:'Alexandria', sans-serif ;
  --font-inter:'Inter', sans-serif ;
}